@{
    ViewData["Title"] = "Politicas";
}
<h1>POLITICA – SPEED RACER (Ing En Sistemas)</h1>

Somos una empresa destinada a la venta de vehiculos de carreras, ofreciendo siempre las mejores marcas
<br />
<br/>
Nuestra empresa se compromete a brindar un ambiente confortable y de calidad
a todos los clientes y personal en general
<br/> 
<br/>
Brindar a los clientes la mayor cantidad de detalles del vehiculo que desea adquirir
<br/>
<br/>
<br/>
<h2>RESTRICCIONES PARA PODER DEVOLVER EL VEHICULO</h2>
<br/>
<br/>
La empresa no se hace responsable por el uso indebido del automotor...
<br/>
<br />
Solamente se aceptara su vehiculo si presenta algun fallo en general
<br/>
<br />
 Si su auto ha sido modificado no podra devolverlo y se le anulara su garantia...






