@{
    ViewData["Title"] = "Speed Racer";
}




<body>

    <!-- Header -->
    <div class="baner">

        <img src="~/images/Banner.jpeg" width="1417" height="640" />

    </div>

</body>

<div class="Welcome">

    <MARQUEE direction="right" BGCOLOR=Blue>Bienvenido a nuestro proyecto SPEED RACER</MARQUEE>

</div>

<div class="goku">

    <img src="~/images/goku.png" width="70" height="70" />

</div>





