body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.caja1 {
    position: relative;
    top: 11px;
    bottom: 0;
    right: 0;
    left: 0;
}

.caja2 {
    top: -378px;
    left: 330px;
    position: relative;
}

.caja3 {
    top: -780px;
    left: 660px;
    position: relative;
}

.caja4 {
    top: -700px;
    left: 0px;
    position: relative;
}

.cajaa5 {
    top: -1100px;
    left: 330px;
    right: 0px;
    position: relative;
}

.cajaa6 {
    top: -1496px;
    left: 660px;
    right: 0px;
    position: relative;
}



.baner {
    top: 80px;
    left: 6px;
    right: 0px;
    position: absolute;
}


.Welcome {
    text-justify: auto;
    top: 70px;
    left: 49px;
    right: 0px;
    position: absolute;
}

.goku {
    top: 42px;
    left: 20px;
    right: 0px;
    position: absolute;
}
